@font-face{
    font-family: 'opensans';
    src: url(../fonts/OpenSans-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: 16px opensans;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
}

.box {
    width: 100%;
    min-height: 100vh;
    display: inline-block;
    background-color: #000;
    margin: auto;
}

iframe {
    width: 100%;
    overflow: none;
    height: 100vh;
}

.section-one {
    width: 100%;
    min-height: 100vh;
    background-color: #2c2d31;
    /*background-image: url('../img/img1.jpg');*/
    background-position: center;
    background-size: cover;
}

a {
    margin: 0;
    width: 0;
    height: 0;
}

.image {
    display: inline-block;
    text-align: center;
    margin: auto;
}

.image img {
    width: 186px;
    margin: auto;
    padding: 2px;
}


.image img:hover {
    opacity: 0.5;
}

.title p {
    color: #000;
    font-size: 50px;
    text-align: center;
    padding: 10px;
}

.subtitle p {
    color: #eee;
    font-size: 1.4em;
    text-align: center;
}

#changethewords {
    text-align: center;
}

#changethewords p {
    color: #000;
    font-size: 1.5em;
    text-align: center;
}
/*
INDEX */
.button-start {
    width: 150px;
    height: 50px;
    background-color: #000;
    border-radius: 5px;
    border: none;
    color: #FFF;
    position: absolute;
    top: 90%;
    left: 90%;
    margin-top: -60px;
    margin-left: -200px; 
}

button {
    cursor: pointer;
}

/*HEADER*/

header input {
    float: right;
    padding: 10px;
    width: 200px;
    border: none;
}


.menu-toggle {
    width: 40px;
    height: 30px;
    float: left;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
    overflow: hidden;
    background-color: yellow;
    margin-left: 240px;
    z-index: 1;
}


.menu-toggle:before {
    content: "";
    display: block;
    margin: 7px auto;
    width: 70%;
    height: 0.25em;
    background: #f49c14;
    box-shadow: 
    0 .45em 0 0 #f49c14,
    0 .9em 0 0 #f49c14;
}


.menu-toggle  .menu-active {
    background-color: red;
}


menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 220px;
    height: 100%;
    padding-top: 10px;
    background-color: #ecf0f1;
    box-shadow: inset -5px -10px 10px 0 rgba(0,0,0,.3);
}

menu li a {
    display: block;
    border-bottom: 1px solid pink;
    margin: 0 10px;
    padding: 10px;
    color #FFF;
    text-decoration: none;
}

menu li a:hover {

}

menu {
    transform: translateX(-220px); /*escondendo o menu*/
    /*transition: all .25s linear;*/
}

header, .main {
    transform: translateX(0);
    /*transition: all .25s linear;*/
}



.menu-active menu {
    transform: translateX(0);
}

.menu-active header,
.menu-active .main {
    transform: translateX(220px);
}
/*ABOUT*/

.section-about {
    width: 100%;
    min-height: 100vh;
    background-color: #2c2d31;
    background-position: center;
    background-size: cover;
}


/*WRITE*/
.write {
    background-color: #000;
    width: 100%;
    height: 100vh;
    color: #FFF; 
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center; 
}

.write div {
  padding: 40px;
  border: 1px solid rgba(0, 0, 0, .3);
}
t
.type-it {
    font-size: 2.5em;
}


/*CIRCLE*/
.circle-back {
    background-image: url('../img/bola_volta.png');
}

.circle {
    background-color: #e74c3c;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 1px #2980b9 solid;
    display: inline-block;
    height: 20px;
    margin: 5px;
    width: 20px;
    font-size: 9px;
}

.circles-center {
    text-align: center;
    position: fixed;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

/*SONG*/

.box-audio {
    display: inline-block;
    width: 100%;
}

audio {
    display: block;
    width: 500px;
    margin: auto;
}

.equalizer {
    display: inline-flex;
    width: 500px;
}


.container-audio {
    background-color: #000;
    width: 100%;
    height: 100vh;
    color: #FFF; 
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
}

/*CIRCLE SLIDE */

.fc-slideshow img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

.container-circle {
    background: none;
    background-color: #000;
}

/*CSS OK*/

/*SUECIA-SIX*/

.suecia-six-image {
    background-image: url('../img/suecia_line6/kb11_02132.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.box-transparency {
    opacity: 0.5;
    background-color: #000;
}

.box-footer {
    height: 40px;
    width: 100%;
    background-color: #000;
    bottom: 0;
    position: absolute;
    opacity: 0.8;
}   

#slides {
    background-image: url(../img/suecia_line6/kb11_02155.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.container {    
    width: 100%;
    height: 100vh;
}

.slidesjs-previous {
    bottom: 0;
    position: absolute;
}