@font-face{
    font-family: 'opensans';
    src: url(../fonts/OpenSans-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: 16px opensans;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
}

iframe {
    width: 100%;
    overflow: none;
    height: 100vh;
}

a {
    margin: 0;
    width: 0;   
    text-decoration: none;
}

/*INDEX PÁGINA INICIAL */

.section-one {
    background-color: #2c2d31;
    background-image: url('../img/image-start.jpg');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    position: fixed;
    width: 100%;
}

.title {
    background-color: rgba(0,0,0,0.8);
    height: 7em;
    margin-top: 10%;
    padding-left: 6%;
    width: 70%;
}

.title p {
    color: #CC1517;
    font-size: 5em;
}

.button-start {
    background-color: rgba(0,0,0,0.8);
    border: none;
    color: #FFF;
    font-size: 1.7em;
    height: 50px;
    left: 90%;
    margin-left: -200px; 
    margin-top: -60px;
    position: absolute;
    top: 90%;
    width: 150px;
}

/* FIM PÁGINA INICIAL */

/*ABOUT*/
.section-about {
    background-color: #2c2d31;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}

/* END ABOUT */

/* SUECIA ONE */

.write {
    -webkit-align-items: center;
    -webkit-justify-content: center;
    align-items: center;
    background-color: #000;
    color: #FFF; 
    display: -webkit-flex;
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center; 
    width: 100%;
}

.write div {
    padding: 40px;
}

.type-it {
    font-size: 2.5em;
}

/*CIRCLE SLIDE */
.fc-slideshow img {
    border-radius: 50%;
    width: 400px;
    height: 400px; 
}

.container-circle {
    background: none;
    background-color: #000;
}

/* END SUECIA ONE*/

.box {
    background-color: #000;
    display: inline-block;
    min-height: 100vh;
    text-align: center;
    width: 100%;
}

.image {
    display: inline-block;
    text-align: center;
    margin: auto;
    width: 16.4%
}

.image img {
    width: 100%;
    margin: auto;
    padding: 2px;
}


.image img:hover {
    opacity: 0.5;
}

.subtitle p {
    color: #eee;
    font-size: 1.4em;
    text-align: center;
}

#changethewords {
    text-align: center;
}

#changethewords p {
    color: #000;
    font-size: 1.5em;
    text-align: center;
}

button {
    cursor: pointer;
}

/*CIRCLE*/
.circle-back {
    background-image: url('../img/bola_volta.png');
}

.circle {
    background-color: #e74c3c;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 1px #2980b9 solid;
    display: inline-block;
    height: 20px;
    margin: 5px;
    width: 20px;
    font-size: 9px;
}

.circles-center {
    text-align: center;
    position: fixed;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

/*SONG*/

.box-audio {
    display: inline-block;
    width: 100%;
}

audio {
    display: block;
    width: 500px;
    margin: auto;
}

.equalizer {
    display: inline-flex;
    width: 500px;
}

.container-audio {
    background-color: #000;
    width: 100%;
    height: 100vh;
    color: #FFF; 
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
}

/*SUECIA-SIX*/

.suecia-six-image {
    background-image: url('../img/suecia_line6/kb11_02132.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.box-transparency {
    opacity: 0.5;
    background-color: #000;
}

.box-footer {
    height: 40px;
    width: 100%;
    background-color: #000;
    bottom: 0;
    position: absolute;
    opacity: 0.8;
}   

#thirteen-audio {
    display: none;
}

.fa-volume-up, .fa-volume-off {
    cursor: pointer;
    color: #000;
}

.fa-volume-up {
    margin-right: 8px;
}

.fa-volume-off {
    margin-left: 8px;
}

.box-audio {
    opacity: 0.8;
    z-index: 9;
}

.box-audio i {
    color: #FFF;
    font-size: 20px;
}

#mybgcarousel {
    height: 100vh;
}

div.bgcarousel div.slide div.desc {
    position: absolute;
    color: #000;
    left: 40px;
    top: 500px;
    width: 700px;
    padding: 0px;
    font: bold 22px sans-serif, Arial;
    text-shadow: 0 -1px 1px #8a8a8a;
    z-index: 5;
}

/* MODAL Suécia 01  */

#modal {
   display: none;
   z-index: 1;
   width: 100%;
   height: 100vh;
   overflow: none;
   position: fixed; 
   left: 0;
   top: 0;
}

#modal-content {
    background-color: rgba(0,0,0,0.4);
    margin: auto;
    padding: 20px; 
    width: 100%;
    margin: auto;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box-modal iframe {
    width: 500px;
    height: 500px;
    margin: auto;
}

#box-close {
    width: 100%; 
}
   
#close-modal {    
    float: right;
}

.fa-times-circle {
    font-size: 26px;
    cursor: pointer;
}

/*MODAL SUÉCIA 03*/

#btn-modal {

}

#modal-se03 {
   display: none;
   z-index: 1;
   width: 100%;
   height: 100vh;
   overflow: none;
   position: fixed; 
   left: 0;
   top: 0;
}

#modal-content-se03 {
    background-color: rgba(0,0,0,0.4);
    margin: auto;
    padding: 20px; 
    width: 100%;
    margin: auto;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box-modal-se03 iframe {
    width: 500px;
    height: 500px;
    margin: auto;
}

#box-close-se03 {
    width: 100%;
    background-color: red; 
}
   
#close-modal-se03 {    
    float: right;
    color: #fff;
}


/*SUECIA 9*/
.section-se-nine {
    background-image: url('../img/Suecia09/kb11_01951.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    color: #000;
}

.suecia-nine-image {
    background-image: url('../img/suecia09/fundo.png');
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.words div a {
    color: #ff3333;
    font-weight: bold;
    font-size: 1.8em; 
}

.solitude {
    padding-top: 20vh;
    padding-right: 20vh;
    float: right;
}

.wind {    
    padding-top: 30vh;
    padding-left: 20vh;
    float: left;
}

.algae {
    padding-top: 85vh;
    padding-right: 20vh;
    float: right;
}


#modal-mosaic {
    background-color: #000;
    margin: auto;
    padding: 20px; 
    width: 100%;
    margin: auto;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*SUECIA TWO 2*/

.suecia-two-image {
    background-image: url('../img/suecia02/kb11_m1429.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
}


/*NORUEGA TEN 10*/
.body-timeline {
    background-color: #778899;
}

.image-noruega, .step-368 {
    width: 800px;
    height: 800px;
    background-position: center;
    background-size: cover;
}

a.prev::after { color: red; }

.step-1000 {
    background-image: url('../img/noruega10/1000_steps.jpg');
}

.step-1500 {
    background-image: url('../img/noruega10/1500_steps.jpg');
}

.step-2000 {    
    background-image: url('../img/noruega10/2000-steps.jpg');
}

.step-2222 {
    background-image: url('../img/noruega10/2222-steps.jpg');

}

.step-3500 {
    background-image: url('../img/noruega10/3500-steps.jpg');

}

.step-3722 {
    background-image: url('../img/noruega10/3722-steps.jpg');
}

.step-4000 {
    background-image: url('../img/noruega10/4000-steps.jpg');
}

.step-853 {
    background-image: url('../img/noruega10/853-steps.jpg');
}

.step-368 {
    background-image: url('../img/noruega10/368-steps.jpg');    
}

.step-goind-down {
    background-image: url('../img/noruega10/goind_down.jpg');
}

.cd-horizontal-timeline .events-content em {
    color: #FFF;
}

.cd-horizontal-timeline .events-wrapper::before {
    background-image: none;
}

.cd-horizontal-timeline .events-wrapper::after {
    background-image: none;
}

.cd-horizontal-timeline .events-content h2 {
    font-size: 4rem;
}

.cd-horizontal-timeline .events-content {
    margin-top: 0.5em; /*margin entre titulo e linha do tempo*/
}

@media only screen and (min-width: 1100px) {
    .cd-horizontal-timeline {
        margin: 0;
    }
}

.cd-horizontal-timeline .filling-line {
    background-color: #CC1517;
}

.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color: #CC1517;
  border-color: #CC1517;
}
.cd-horizontal-timeline .events a.selected {
  pointer-events: none;
}
.cd-horizontal-timeline .events a.selected::after {
  background-color: #CC1517;
  border-color: #CC1517;
}
.cd-horizontal-timeline .events a.older-event::after {
  border-color: #CC1517;
}
.no-touch .cd-timeline-navigation a:hover {
  border-color: #CC1517;
}

/*NORUEGA END */